<nav class="sticky top-0 z-50 bg-white flex items-center justify-between w-full px-4 py-2 border-b" #navContainer>
  <a routerLink="/" #logo class="text-xl font-semibold text-gray-800 hover:cursor-pointer">
    <span>Pokemon Explorer</span>
  </a>

  <div class="flex items-center space-x-4">
    <ng-container *ngFor="let item of visibleItems">
  <a (click)="navigateTo(item)" class="nav-link" [ngClass]="{ 'active-link': isActive(item) }">
    {{ item.label }}
  </a>
</ng-container>
    <select #dropdown *ngIf="overflowItems.length" [value]="getActiveItem(overflowItems) || ''"
      class="text-sm text-gray-700 border rounded px-2 py-1 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500"
      (change)="selectLink($event)">
      <option disabled [selected]="!getActiveItem(overflowItems)">
        More...
      </option>
      <option *ngFor="let item of overflowItems" [value]="item.label" [selected]="isActive(item)">
        {{ item.label }}
      </option>
    </select>
  </div>
</nav>